nav.primary {
    display: none;
    margin-left: auto;
    margin-right: 0;
    margin-top: 20px;
    background-color: transparent;

    @include breakpoint(laptop) {
        display: block;
        width: 75%;
    }

    @include breakpoint(desktop) {
        width: 80%;
    }

    @include breakpoint(xldesktop) {
        width: 700px;
    }

    ul {
        display: flex;
        position: relative;
        width: 100%;
    }

    li {
        list-style: none;
        flex: 1 0 auto;
        transition: all .3s ease;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
        text-align: center;
        color: $white;
        transition: all .3s ease;
        font-family: $poppins;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 12px;

        @include breakpoint(desktop) {
            font-size: 14px;
            line-height: 14px;
        }

        &:hover {
            text-decoration: none;
            color: $yellow;
        }
    }

    .submenu {
        display: flex;
        position: absolute;
        top: 100%;
        left: -9999px;
        background-color: $white;
        transition: opacity .3s ease;
        opacity: 0;
        padding: 20px;
        width: 100%;
    }

    .has-children {
        flex: 1;
        padding-right: 10px;

        a {
            &:not(.submenu a) {
                padding-right: 35px;
                padding-left: 20px;
                background-image: url('images/icons/plus.png');
                background-repeat: no-repeat;
                background-size: 15px;
                background-position: top 50% right 10px;
            }
        }

        &:hover {
            background-color: $white;

            a {
                &:not(.submenu a) {
                    color: $blue;
                }
            }

            .submenu {
                left: 0;
                opacity: 1;
            }
        }
    }

    .col {
        display: inline-flex;
        flex-direction: column;
        height: auto;
        width: 35%;
        border-right: 1px solid #ccc;
        padding: 0 30px 0 0;
        

        + .col {
            padding: 0 30px 0 0;
            margin-left: 30px;
        }

        img {
            border-radius: 10px;
        }

        p {
            font-size: 13px;
            line-height: 18px;
        }

        .listen-blue-outline {
            margin-left: 0;
            margin-top: auto;
            color: $blue;
            padding-left: 20px;
            width: 150px;

            &:hover {
                color: $white;
            }
        }
    }

    .col-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
    }

    .col-content--heading {
        margin-bottom: 10px;

        a {
            color: $blue;
            text-align: left;
            font-size: 14px;
            line-height: 18px;
            padding-bottom: 0;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .col-slim {
        width: 30%;
        padding: 0 0 0 30px;
    }

    .slim-link {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        height: 100%;
        width: 100%;
        padding-top: 50px;
        border-radius: 10px;
        background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);

        a {
            text-transform: capitalize;
            font-size: 18px;
            line-height: 26px;
        }

        img {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}