p {
    font-family: $poppins;
    font-weight: 400;
    margin-bottom: 20px;
    color: $copy;
    font-size: 14px;
    line-height: 20px;

    @include breakpoint(tablet) {
        font-size: 12px;
        line-height: 18px;
    }

    @include breakpoint(desktop) {
        font-size: 16px;
        line-height: 24px;
    }
}