body.error-page {
    background-color: $lightblue;
}

.error-page {

    .site-main {
        padding-top: 10rem;
    }
}

.error-text {
    background-color: #eee;
    width: 100%;

    @include breakpoint(tablet) {
        width: 30%;
        margin-left: auto;
        max-width: 1366px;
        margin-right: 15rem;
        text-align: left;
    }

    h1 {
        color: $blue;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 20px;
    }
}