body.become-sponsor-page {
    background-color: $lightblue;
}

.whats-included {
    width: 100%;
    background-color: $white;
    padding-top: 30px;
    padding-bottom: 30px;

    @include breakpoint(tablet) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .c-container {
        display: flex;
        flex-direction: column;

        @include breakpoint(tablet) {
            flex-direction: row-reverse;
        }
    }

    .image-col {
        width: 100%;

        @include breakpoint(tablet) {
            width: 50%;
        }
    }

    img {
        border-radius: 30px;
    }

    .text-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        @include breakpoint(tablet) {
            width: 50%;
            padding-left: 5%;
            padding-right: 5%;
        }
    }

    h5 {
        color: $blue;
        margin-bottom: 30px;
    }

    p {
        color: $copy;
        margin-bottom: 30px;
    }

    li {
        display: flex;
        position: relative;
        align-items: center;
        font-family: $poppins;
        font-weight: 600;
        padding-left: 40px;
        color: $blue;

        &:not(:last-of-type) {
            margin-bottom: 25px;
        }

        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            left: 0;
            width: 30px;
            height: 30px;
            background-color: #eee;
            margin-right: 10px;
        }
    }

    .btn-container {
        margin-top: 50px;
        padding-left: 0;
    }
}