body.contact-page {
    background-color: $lightblue;
}

.contact-container {
    @extend .c-container;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;

    @include breakpoint(tablet) {
        flex-direction: row;
        padding-bottom: 60px;
        padding-left: 30px;
        padding-right: 30px;
    }

    @include breakpoint(xxldesktop) {
        padding-left: 0;
        padding-right: 0;
    }
}

.get-in-touch {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    border: 1px solid $blue;
    border-radius: 30px;
    padding: 60px;
    order: 2;

    @include breakpoint(tablet) {
        width: 40%;
        margin-top: 0;
        margin-left: 0;
        padding: 30px;
        order: 1;
    }

    @include breakpoint(laptop) {
        padding: 60px;
    }

    h2 {
        color: $blue;
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 30px;

        @include breakpoint(desktop) {
            margin-bottom: 30px;
            width: 100%;
            font-size: 30px;
            line-height: 40px;
        }
    }

    li {
        &:not(.follow li) {
            display: flex;
            align-items: center;
            position: relative;
            font-family: $poppins;
            font-weight: 600;
            height: 30px;
            padding-left: 40px;

            @include breakpoint(desktop) {
                font-size: 18px;
                line-height: 28px;
            }

            &:before {
                content: "";
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                width: 30px;
                height: 30px;
                background-image: url('images/icons/email.png');
                background-repeat: no-repeat;
                background-size: 25px;
                background-position: center;
            }

            &:not(:last-of-type) {
                margin-bottom: 20px;

                &:before {
                    background-image: url('images/icons/call-blue.png');
                    background-repeat: no-repeat;
                    background-size: 25px;
                    background-position: center;
                }
            }

            a {
                color: $blue;
            }
        }
    }
}

.follow {
    margin-top: 30px;

    @include breakpoint(desktop) {
        margin-top: 60px;
    }

    h3 {
        color: $blue;
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 30px;

        @include breakpoint(desktop) {
            margin-bottom: 30px;
            width: 100%;
            font-size: 30px;
            line-height: 40px;
        }
    }

    ul {
        display: flex;
    }

    li {
        list-style: none;

        &:not(:first-of-type) {
            margin-left: 20px;
        }
    }

    img {
        max-width: 20px;
    }
}

.contact-form {
    position: relative;
    width: 100%;
    background-color: $blue;
    padding: 30px;

    @include breakpoint(tablet) {
        border-radius: 30px;
        width: 55%;
        margin-left: 0;
        order: 2;
    }

    @include breakpoint(laptop) {
        padding: 60px;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('images/desktop/make-an-enquiry-desktop.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 30px;
        opacity: .1;
    }

    h2 {
        color: $white;
        width: 100%;
        text-align: center;
        margin-bottom: 60px;

        @include breakpoint(desktop) {
            font-size: 30px;
            line-height: 40px;
        }
    }
    
    form {
        position: relative;
        z-index: 5;
    }

    fieldset {
        padding: 30px 0;
        border: 0;

        @include breakpoint(desktop) {
            padding: 30px;
        }
    }

    legend {
        width: 100%;
        text-align: center;
        color: $white;
        font-size: 18px;
        line-height: 18px;
    }

    .form-row {
        display: flex;
        flex-wrap: wrap;
        color: $white;
        margin-bottom: 20px;

        &.centered {
            justify-content: center;
        }

        a {
            color: $white;
        }

        p {
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 0;
            margin-top: 20px;

            a {
                color: $yellow;
            }
        }

        input[type="radio"] {
            top: 2px;
            position: relative;
            left: 0;
            margin-left: 0;
        }

        input {
            border: 1px solid $white;
            border-radius: 50px;
            color: $blue;
            padding-left: 20px;

            &::placeholder {
                color: $blue;
            }
        }

        textarea {
            border: 1px solid $white;
            border-radius: 20px;
            color: $blue;
            padding: 20px;

            &::placeholder {
                color: $blue;
            }
        }

        button[type="submit"] {
            @extend .btn;
            background-color: $yellow;
            border-color: $yellow;
            color: $blue;

            &:hover {
                background-color: $blue;
                color: $white;
            }
        }
    }

    .field-50 {
        width: 100%;

        @include breakpoint(tablet) {
            width: 49%;
            margin-right: 2%;

            &:last-of-type {
                margin-right: 0;
            }
        }

        &:not(:first-of-type) {
            margin-top: 20px;

            @include breakpoint(tablet) {
                margin-top: 0;
            }
        }
    }

    .field-100 {
        width: 100%;
    }
}