.episode-list {
    padding-top: 60px;
    padding-bottom: 60px;

    body.single-podcast & {
        padding-top: 15rem;
        background-color: $white;
    }

    body.about-page & {
        background-color: $white;
    }

    h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 60px;
        color: $blue;

        @include breakpoint(tablet) {
            justify-content: space-between; 
            flex-direction: row;
            text-align: left;
        }

        a {
            font-size: 14px;
            line-height: 14px;

            @media(max-width: 767px) {
                margin-top: 20px;
            }
        }
    }

    ul {
        @media(max-width: 767px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    li {
        position: relative;
        border: 1px solid $midgrey;
        border-radius: 30px;
        padding: 20px;
        transition: all .3s ease;
        list-style-type: none;
        background-color: $white;

        &:hover {
            border-color: $blue;

            .overlay-inner {
                opacity: 1;
                background-color: rgba($yellow,.8);
            }
        }

        @include breakpoint(tablet) {
            display: inline-block;
            width: 31.8%;
            margin-right: 2%;

            &:nth-of-type(3) {
                margin-right: 0;
            }
        }
    }

    date {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -20px;
        left: -20px;
        width: 80px;
        height: 80px;
        align-items: center;
        justify-content: center;
        color: $white;
        font-family: $poppins;
        font-weight: 500;
        background-color: $blue;
        border: 10px solid $yellow;
        border-radius: 100%;
        padding: 20px;
        z-index: 5;

        @media(max-width: 767px) {
            top: 15px;
            left: 15px;
        }
    }

    img {
        border-radius: 30px;
        width: 100%;
    }

    .overlay-content {
        position: relative;
    }

    .overlay-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        border-radius: 30px;
        background-color: rgba($yellow,0);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .3s ease;
        opacity: 0;

        p {
            font-size: 20px;
            line-height: 30px;
            text-transform: uppercase;
            font-weight: 500;
            margin-bottom: 20px;
            color: $blue;
        }
    }

    .parent-pay {
        margin-bottom: 30px;

        img {
            max-width: 150px;
        }
    }

    .episode-title {
        margin-bottom: 20px;
        text-align: center;
        font-size: 20px;
        line-height: 30px;
        color: $blue;
    }
}

.episode-details {
    padding: 20px;

    p {
        color: $blue;

        &:nth-of-type(2) {
            color: $copy;
        }
    }

    h4 {
        font-size: 24px;
        line-height: 34px;
        color: $blue;
        margin-bottom: 20px;
    }
}