.episode-list {
    padding-top: 60px;
    padding-bottom: 60px;

    body.single-podcast & {
        padding-top: 60px;
        background-color: $white;

        @include breakpoint(laptop) {
            padding-top: 12rem;
        }

        @include breakpoint(desktop) {
            padding-top: 15rem;
        }
    }

    body.about-page & {
        background-color: $white;
    }

    h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 60px;
        color: $blue;

        @include breakpoint(tablet) {
            justify-content: space-between; 
            flex-direction: row;
            text-align: left;
            padding-left: 30px;
            padding-right: 30px;
        }

        a {
            font-size: 14px;
            line-height: 14px;

            @media(max-width: 767px) {
                margin-top: 20px;
            }
        }
    }

    .slick-list {

        @include breakpoint(phablet) {
            padding: 0 20px;
        }
    }

    ul {
        @media(max-width: 991px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    li {
        position: relative;
        border: 1px solid $midgrey;
        border-radius: 20px;
        padding: 20px;
        transition: all .3s ease;
        list-style-type: none;
        background-color: $white;

        @include breakpoint(phablet) {
            margin-left: 10px!important;
            margin-right: 10px!important;
        }

        @include breakpoint(tablet) {
            display: inline-block;
            padding: 10px;
            width: 31.6%;
            margin-right: 2%!important;
            margin-left: 0!important;

            &:nth-of-type(3) {
                margin-right: 0!important;
            }
        }

        @include breakpoint(desktop) {
            border-radius: 30px;
            padding: 20px;
        }

        &:hover {
            border-color: $blue;

            .overlay-inner {
                opacity: 1;
                background-color: rgba($yellow,.8);
            }
        }
    }

    date {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -20px;
        left: -20px;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $white;
        background-color: $blue;
        border: 5px solid $yellow;
        border-radius: 100%;
        padding: 20px;
        font-family: $poppins;
        font-size: 11px;
        line-height: 12px;
        z-index: 5;

        @include breakpoint(tablet) {
            top: -15px;
            left: -15px;
            width: 50px;
            height: 50px;
            font-size: 11px;
            line-height: 11px;
            border: 5px solid $yellow;
        }

        @include breakpoint(desktop) {
            top: -30px;
            left: -20px;
            width: 80px;
            height: 80px;
            border: 10px solid $yellow;
            font-size: 14px;
            line-height: 14px;
        }
    }

    img {
        border-radius: 20px;
        width: 100%;

        @include breakpoint(desktop) {
            border-radius: 30px;
        }
    }

    .overlay-content {
        position: relative;
    }

    .overlay-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        border-radius: 20px;
        background-color: rgba($yellow,0);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .3s ease;
        opacity: 0;

        @include breakpoint(desktop) {
            border-radius: 30px;
        }

        p {
            font-size: 13px;
            line-height: 18px;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 10px;
            color: $blue;

            @include breakpoint(tablet) {
                font-size: 11px;
                line-height: 15px;
                margin-bottom: 5px;
            }

            @include breakpoint(desktop) {
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 20px;
            }
        }
    }

    .parent-pay {
        margin-bottom: 30px;

        @include breakpoint(tablet) {
            margin-bottom: 15px;
        }

        @include breakpoint(desktop) {
            margin-bottom: 30px;
        }

        img {
            max-width: 100px;

            @include breakpoint(desktop) {
                max-width: 150px;
            }
        }
    }

    .episode-title {
        margin-bottom: 5px;
        text-align: center;
        font-size: 15px;
        line-height: 25px;
        color: $blue;

        @include breakpoint(tablet) {
            margin-bottom: 5px;
            font-size: 15px;
            line-height: 20px;
            padding: 0 10px;
        }

        @include breakpoint(desktop) {
            margin-bottom: 20px;
            font-size: 20px;
            line-height: 30px;
        }

        a {
            color: $blue;
        }
    }
}

.episode-details {
    padding: 20px;

    @include breakpoint(tablet) {
        padding: 10px 0 0 0;
    }

    @include breakpoint(desktop) {
        padding: 20px;
    }

    h3 {
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 34px;

        @include breakpoint(tablet) {
            font-size: 18px;
            line-height: 26px;
        }

        @include breakpoint(desktop) {
            font-size: 24px;
            line-height: 34px;
        }
    }

    p {
        color: $blue;
        margin-bottom: 0;

        &:nth-of-type(2) {
            color: $copy;

            @include breakpoint(tablet) {
                font-size: 12px;
                line-height: 16px;
                margin-bottom: 20px;
            }

            @include breakpoint(desktop) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    h4 {
        color: $blue;
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 34px;

        @include breakpoint(tablet) {
            font-size: 18px;
            line-height: 26px;
        }

        @include breakpoint(desktop) {
            font-size: 24px;
            line-height: 34px;
        }

        a {
            color: $blue;
        }
    }
}