body.events-page,
body.single-event {
    background-color: $lightblue;
    background-color: $lightblue;
}

.featured-event {
    @extend .c-container;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;

    @include breakpoint(tablet) {
        flex-direction: row;
    }

    @include breakpoint(desktop) {
        padding-left: 0;
        padding-right: 0;
    }

    date {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -25px;
        left: 10px;
        width: 80px;
        height: 80px;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $white;
        background-color: $blue;
        border: 10px solid $yellow;
        font-family: $poppins;
        border-radius: 100%;
        padding: 20px;
        font-size: 16px;
        line-height: 16px;
        z-index: 5;

        @include breakpoint(desktop) {
            top: -60px;
            left: -60px;
            width: 120px;
            height: 120px;
            border: 15px solid $yellow;
            font-size: 20px;
            line-height: 28px;
        }
    }

    .image-col {
        position: relative;
        width: 100%;
        margin-bottom: 30px;

        @include breakpoint(tablet) {
            width: 50%;
            margin-bottom: 0;
        }
    }

    .event-overview {
        width: 100%;

        @include breakpoint(tablet) {
            width: 50%;
            padding: 0 0 0 60px;
        }

        @include breakpoint(desktop) {
            padding: 60px;
        }

        p {
            color: $blue;
            margin-bottom: 10px;

            &:not(:first-of-type) {
                color: $copy;
            }
        }

        h3 {
            color: $blue;

            margin-bottom: 30px;

            a {
                color: $blue;
            }
        }
    }

    .event-details {
        padding-left: 0;
        margin-bottom: 30px;

        @include breakpoint(tablet) {
            margin-bottom: 10px;
        }

        @include breakpoint(desktop) {
            margin-bottom: 30px;
        }

        li {
            display: flex;
            align-items: center;
            list-style: none;
            font-family: $poppins;
            color: $blue;

            &:not(:last-of-type) {
                margin-bottom: 10px;
            }

            &:before {
                content: "";
                display: inline-block;
                position: relative;
                width: 25px;
                height: 25px;
                background-repeat: no-repeat;
                background-size: 25px;
                background-position: center;
                margin-right: 10px;
            }

            &:nth-of-type(1) {

                &:before {
                    background-image: url('images/icons/time.png');
                }
            }

            &:nth-of-type(2) {

                &:before {
                    background-image: url('images/icons/date.png');
                }
            }

            &:nth-of-type(3) {

                &:before {
                    background-image: url('images/icons/location.png');
                }
            }
        }
    }

    .event-actions {
        display: flex;

        a {
            padding-left: 10px;
            padding-right: 10px;
            width: 50%;

            @include breakpoint(tablet) {
                width: auto;
                font-size: 11px;
                line-height: 11px;
            }

            @include breakpoint(desktop) {
                padding-left: 20px;
                padding-right: 20px;
                font-size: 14px;
                line-height: 14px;
            }

            &:not(:first-of-type) {
                margin-left: 10px;

                @include breakpoint(desktop) {
                    margin-left: 20px;
                }
            }
        }
    }

    img {
        border-radius: 30px;
        width: 100%;
    }
}

.event-listing {
    background-color: $white;
    padding-top: 60px;
    padding-bottom: 60px;

    .c-container {
        padding: 0;
    }

    h4 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
        color: $blue;

        a {
            font-size: 14px;
            line-height: 14px;
        }
    }

    date {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -20px;
        left: -20px;
        width: 80px;
        height: 80px;
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-family: $poppins;
        font-weight: 500;
        color: $white;
        background-color: $blue;
        border: 10px solid $yellow;
        border-radius: 100%;
        padding: 20px;
        z-index: 5;

        @include breakpoint(tablet) {
            top: -15px;
            left: -15px;
            width: 50px;
            height: 50px;
            font-size: 11px;
            line-height: 11px;
            border: 5px solid $yellow;
        }

        @include breakpoint(desktop) {
            top: -30px;
            left: -20px;
            width: 80px;
            height: 80px;
            border: 10px solid $yellow;
            font-size: 14px;
            line-height: 14px;
        }
    }

    ul {
        @media(max-width: 991px) {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    li {
        position: relative;
        transition: all .3s ease;
        list-style-type: none;
        padding: 0;
        margin-bottom: 30px;
        background-color: $white;

        @include breakpoint(tablet) {
            display: inline-block;
            margin-bottom: 0;
            width: 30.2%;
            margin-right: 4%;

            &:nth-of-type(3n) {
                margin-right: 0;
            }
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    img {
        width: 100%;
        border-radius: 30px;
    }

    h5 {
        a {
            color: $blue;
        }
    }

    a {
        color: $copy;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    a {
        &:not(.event-content a) {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 30px;

            img {
                transition: all .6s ease;
                transform: scale(1);
            }

            &:hover {

                img {
                    transform: scale(1.02);
                }
            }
        }
    }
}

.event-content {
    padding: 20px 20px 40px 20px;

    @include breakpoint(desktop) {
        padding: 40px 20px 80px 20px;
    }

    h5 {
        font-size: 18px;
        line-height: 24px;
        color: $blue;
        font-weight: 500;
        margin-bottom: 10px;

        @include breakpoint(desktop) {
            font-size: 24px;
            line-height: 34px;
            margin-bottom: 20px;
        }

        a {
            font-family: $poppins;
            color: $blue;
            font-weight: 600;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    p {
        color: $copy;
    }

    a {
        font-family: $poppins;
        color: $copy;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.event-summary {
    @extend .c-container;
    position: relative;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;

    @include breakpoint(tablet) {
        flex-direction: row;
        padding-bottom: 60px;
    }

    date {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -25px;
        left: 10px;
        width: 80px;
        height: 80px;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $white;
        background-color: $blue;
        border: 10px solid $yellow;
        border-radius: 100%;
        padding: 20px;
        font-size: 16px;
        line-height: 16px;
        z-index: 5;

        @include breakpoint(desktop) {
            top: -60px;
            left: -60px;
            width: 120px;
            height: 120px;
            border: 15px solid $yellow;
            font-size: 20px;
            line-height: 28px;
        }
    }

    .image-col {
        position: relative;
        width: 100%;
        margin-bottom: 30px;

        @include breakpoint(tablet) {
            width: 50%;
            margin-bottom: 0;
        }
    }

    .event-overview {
        width: 100%;

        @include breakpoint(tablet) {
            width: 50%;
            padding: 0 0 60px 60px;
        }

        @include breakpoint(desktop) {
            padding: 60px;
        }

        p {
            color: $copy;
            margin-bottom: 30px;

            @include breakpoint(tablet) {
                margin-bottom: 10px;
            }

            @include breakpoint(desktop) {
                margin-bottom: 30px;
            }
        }
    }

    .event-details {
        padding-left: 0;
        margin-bottom: 30px;

        @include breakpoint(tablet) {
            margin-bottom: 10px;
        }

        @include breakpoint(desktop) {
            margin-bottom: 30px;
        }

        li {
            display: flex;
            align-items: center;
            list-style: none;
            color: $blue;

            &:not(:last-of-type) {
                margin-bottom: 10px;
            }

            &:before {
                content: "";
                display: inline-block;
                position: relative;
                width: 25px;
                height: 25px;
                background-repeat: no-repeat;
                background-size: 25px;
                background-position: center;
                margin-right: 10px;
            }

            &:nth-of-type(1) {

                &:before {
                    background-image: url('images/icons/time.png');
                }
            }

            &:nth-of-type(2) {

                &:before {
                    background-image: url('images/icons/date.png');
                }
            }

            &:nth-of-type(3) {

                &:before {
                    background-image: url('images/icons/location.png');
                }
            }
        }
    }

    .event-actions {
        display: flex;

        a {
            padding-left: 10px;
            padding-right: 10px;
            width: 50%;

            @include breakpoint(tablet) {
                width: auto;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 11px;
                line-height: 11px;
            }

            @include breakpoint(desktop) {
                padding-left: 20px;
                padding-right: 20px;
                font-size: 14px;
                line-height: 14px;
            }

            &:not(:first-of-type) {
                margin-left: 10px;

                @include breakpoint(desktop) {
                    margin-left: 20px;
                }
            }
        }
    }

    img {
        border-radius: 30px;
        width: 100%;
    }
}