.filter-bar {
    background-color: $blue;
    padding-top: 30px;
    padding-bottom: 30px;

    @include breakpoint(tablet) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .c-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include breakpoint(tablet) {
            flex-direction: row;
        }
    }

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin-bottom: 20px;

        @include breakpoint(tablet) {
            width: 300px;
            margin-bottom: 0;
            margin-right: 5%;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    input[type="text"] {
        border: 1px solid $blue;
        border-right: 0;
        color: $blue;
        padding-left: 20px;
        border-radius: 30px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        &::placeholder {
            color: $blue;
        }
    }

    button[type="submit"] {
        width: 70px;
        height: 50px;
        padding: 10px;
        border: 1px solid $blue;
        cursor: pointer;
        border-left: 0;
        border-radius: 30px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        img {
            max-width: 20px;
        }
    }

    select {
        border-color: $blue;
        border-radius: 30px;
        padding-left: 20px;
        color: $blue;

        &::placeholder {
            color: $blue;
        }
    }
}