.filter-bar {
    background-color: $blue;
    padding-top: 30px;
    padding-bottom: 30px;

    .c-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include breakpoint(tablet) {
            flex-direction: row;
        }
    }

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 90%;
        margin-bottom: 20px;

        @include breakpoint(tablet) {
            width: 300px;
            margin-bottom: 0;
            margin-right: 5%;

            &:last-of-type {
                margin-right: 0;
            }
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    input[type="text"] {
        width: 100%;
		border-radius: 30px;
		padding-left: 20px;
		border: 1px solid $blue;

        &::placeholder {
            color: $blue;
        }
    }

    button[type="submit"] {
        position: absolute;
		width: 45px;
		height: 44px;
		right: 3px;
		top: 3px;
        border: 0;
        background-color: $white;
        border-radius: 30px;

        img {
            max-width: 20px;
        }
    }

    select {
        border-color: $blue;
        border-radius: 30px;
        padding-left: 20px;
        color: $blue;

        &::placeholder {
            color: $blue;
        }
    }
}