.hero {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border-bottom: 1px dashed blue;å

  picture,
  img {
    width: 100%;
  }
}

.btn-container {
  position: relative;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
  margin-top: 30px;
  z-index: 10;

  @include breakpoint(tablet) {
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
  }

  a {
    &:not(:first-of-type) {
      margin-top: 20px;

      @include breakpoint(tablet) {
        margin-left: 50px;
        margin-top: 0;
      }
    }
  }
}

.hero-tall {
  height: 60vh;

  @include breakpoint(laptop) {
    height: 90vh;
  }
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  body.home & {
    background-image: url('images/desktop/home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($blue,.9);
  }
}

img.microphone {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 85%;
  z-index: 2;
}

img.the-talk {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 85%;
  z-index: 3;
}

img.wave {
  display: block;
  position: absolute;
  left: 0;
  bottom: 50px;
  opacity: .1;
}

.hero-inner {
  width: 100%;
  position: relative;
  max-width: $sitewidth;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 1px dashed red;
  border-right: 1px dashed red;

  h1 {
    color: $white;
    margin-bottom: 20px;

    @include breakpoint(tablet) {
      max-width: 50%;
    }
  }

  p {
    color: $white;
    margin-bottom: 20px;

    @include breakpoint(tablet) {
      max-width: 50%;
    }
  }
}