.listen-links {
    text-align: center;
    padding-bottom: 60px;
    overflow: hidden;
    position: relative;
    z-index: 20;

    body.podcasts-page & {
        padding-top: 60px;
        background-color: $white;
    }

    body.single-podcast & {
        
        @media(max-width: 767px) {
            padding-bottom: 30px;
        }
    }

    h4 {
        color: $blue;
        margin-bottom: 15px;
    }

    ul {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakpoint(desktop) {
            margin-bottom: 60px;
        }
    }

    .slick-list {
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }

    li {
        display: inline-block;
        margin: 0 20px;

        a {
            @include breakpoint(tablet) {
                font-size: 11px;
                line-height: 11px;
            }

            @include breakpoint(desktop) {
                font-size: 14px;
                line-height: 14px;
            }
        }
    }

    p {
        color: $copy;
        margin-bottom: 30px;

        body.podcasts-page & {
            color: $copy;
            margin-bottom: 30px;

            @include breakpoint(desktop) {
                margin-bottom: 60px;
            }

            ~ p {
                margin-bottom: 0;
            }
        }

        ~ p {
            color: $blue;
            margin-bottom: 0;
        }

        a {
            color: $blue;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}