.listen-links {
    text-align: center;
    padding-bottom: 60px;

    body.podcasts-page & {
        padding-top: 60px;
        background-color: $white;
    }

    h4 {
        color: $blue;
        margin-bottom: 60px;

        body.podcasts-page & {
            margin-bottom: 30px;
        }
    }

    ul {
        margin-bottom: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    li {
        display: inline-block;
    }

    p {
        color: $blue;
        margin-bottom: 0;

        body.podcasts-page & {
            color: $copy;
            margin-bottom: 60px;

            ~ p {
                margin-bottom: 0;
            }
        }

        a {
            color: $blue;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}