.listen-links {
    text-align: center;
    padding-bottom: 60px;
    overflow: hidden;

    body.podcasts-page & {
        padding-top: 60px;
        background-color: $white;
    }

    h4 {
        color: $blue;
        margin-bottom: 15px;
    }

    ul {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .slick-list {
        padding-top: 10px!important;
        padding-bottom: 10px!important;
    }

    li {
        display: inline-block;
        margin: 0 20px;
    }

    p {
        color: $copy;
        margin-bottom: 30px;

        body.podcasts-page & {
            color: $copy;
            margin-bottom: 60px;

            ~ p {
                margin-bottom: 0;
            }
        }

        ~ p {
            color: $blue;
            margin-bottom: 0;
        }

        a {
            color: $blue;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}