.news-list {
    background-color: $white;
    padding-top: 60px;
    padding-bottom: 0;

    @include breakpoint(tablet) {
        padding-bottom: 60px;
    }

    body.home & {
        @include breakpoint(tablet) {
            padding-bottom: 10rem;
        }
    }

    h4 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 60px;
        color: $blue;

        @include breakpoint(tablet) {
            justify-content: space-between; 
            flex-direction: row;
            text-align: left;
        }

        a {
            font-size: 14px;
            line-height: 14px;

            @media(max-width: 767px) {
                margin-top: 20px;
            }
        }
    }

    ul {
        @media(max-width: 767px) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    li {
        position: relative;
        transition: all .3s ease;
        list-style-type: none;
        background-color: $white;

        @include breakpoint(tablet) {
            display: inline-block;
            width: 31.8%;
            margin-right: 2%;

            &:nth-of-type(3n) {
                margin-right: 0;
            }
        }
    }

    img {
        width: 100%;
        border-radius: 30px;
    }
}

.post-content {
    padding: 40px 20px;

    h5 {
        font-family: $poppins;
        font-weight: 600;
        font-size: 24px;
        line-height: 34px;
        color: $blue;
        margin-bottom: 10px;

        a {
            font-weight: 600;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    p {
        color: $copy;
    }

    a {
        font-family: $poppins;
        font-weight: 500;
        color: $blue;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}