ul.partner-logos {
    @extend .c-container;
    display: flex;
    flex-flow: row wrap;

    @media(max-width: 767px) {
        padding-bottom: 60px;
    }

    @include breakpoint(tablet) {
        padding-left: 30px;
        padding-right: 30px;
    }

    li {
        display: inline-flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-right: 0;

        &:nth-of-type(2n) {
            margin-right: 0;
        }

        @include breakpoint(tablet) {
            width: 30.666%;
            margin-bottom: 60px;
            margin-right: 4%;

            &:nth-of-type(2n) {
                margin-right: 4%;
            }

            &:nth-of-type(3n) {
                margin-right: 0;
            }
        }

        p {
            @media(max-width: 767px) {
                padding-left: 30px;
                padding-right: 30px;
            }

            @include breakpoint(tablet) {
                font-size: 12px;
                line-height: 16px;
            }

            @include breakpoint(desktop) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    img {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint(tablet) {
            max-width: 100%;
        }
    }

    h2 {
        font-size: 24px;
        line-height: 34px;
        font-weight: 600;
        color: $blue;
        margin-bottom: 15px;

        @media(max-width: 767px) {
            padding-left: 30px;
            padding-right: 30px;
        }

        @include breakpoint(tablet) {
            font-size: 18px;
            line-height: 28px;
        }

        @include breakpoint(desktop) {
            font-size: 24px;
            line-height: 34px; 
        }
    }

    a {
        font-family: $poppins;
        font-weight: 500;
        color: $blue;
        text-decoration: underline;

        @media(max-width: 767px) {
            padding-left: 30px;
            padding-right: 30px;
        }

        &:hover {
            text-decoration: none;
        }

        @include breakpoint(tablet) {
            margin-top: auto;
            font-size: 12px;
            line-height: 12px;
        }

        @include breakpoint(desktop) {
            font-size: 14px;
            line-height: 14px;
        }
    }
}