.page-banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;

    @include breakpoint(tablet) {
        height: 275px;
    }

    @include breakpoint(laptop) {
        height: auto;
    }

    @include breakpoint(desktop) {
        position: relative; 
    }

    img {
        @include breakpoint(tablet) {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $blue;
        opacity: .9;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -50%;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('images/waveform-pattern.png');
        background-repeat: no-repeat;
        background-size: auto;
        background-position: left;
        opacity: .1;
    }
}