body.podcasts-page,
body.single-podcast {
    background-color: $lightblue;
}

.latest-podcast {
    @extend .c-container;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;

    @include breakpoint(tablet) {
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;
    }

    .image-col {
        position: relative;
        width: 100%;

        @include breakpoint(tablet) {
            width: 50%;
        }
    }

    .episode-details {
        width: 100%;

        @include breakpoint(tablet) {
            width: 50%;
            padding: 60px;
        }
    }

    date {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -20px;
        left: -20px;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        color: $white;
        background-color: $blue;
        border: 5px solid $yellow;
        border-radius: 100%;
        padding: 20px;
        font-size: 11px;
        line-height: 12px;
        z-index: 5;

        @include breakpoint(desktop) {
            top: -60px;
            left: -60px;
            width: 120px;
            height: 120px;
            border: 15px solid $yellow;
            font-size: 20px;
            line-height: 28px;
        }
    }

    img {
        border-radius: 30px;
        width: 100%;
    }
}

.podcast-summary {
    @extend .c-container;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;

    @include breakpoint(tablet) {
        flex-direction: row;
        padding-bottom: 60px;
    }

    .image-col {
        position: relative;
        width: 100%;

        @include breakpoint(tablet) {
            width: 50%;
        }
    }

    .episode-details {
        width: 100%;

        @include breakpoint(tablet) {
            width: 50%;
            padding: 60px;
        }

        p {
            color: $copy;
            margin-bottom: 30px;
        }
    }

    img {
        border-radius: 30px;
        width: 100%;
    }

    a {
        font-family: $poppins;
        color: $blue;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

.share {
    margin-top: 30px;
   
    .share-title {
        font-family: $poppins;
        font-weight: 600;
        color: $blue;
        margin-bottom: 5px;

        @include breakpoint(desktop) {
            margin-bottom: 15px;
        }
    }

    ul {
        display: flex;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        list-style: none;
        transition: all .3s ease;
        width: 25px;
        height: 25px;
        aspect-ratio: 1/1;
        border: 1px solid $blue;
        border-radius: 100%;

        @include breakpoint(desktop) {
            width: 40px;
            height: 40px;
        }

        &:not(:first-of-type) {
            margin-left: 10px;
        }

        &:hover {
            background-color: $blue;

            img {
                opacity: 0;

                + img {
                    opacity: 1;
                }
            }
        }

        img {
            position: absolute;
            top: 4px;
            left: 4px;
            transition: all .3s ease;
            max-width: 15px;
            opacity: 1;

            @include breakpoint(desktop) {
                top: 9px;
                left: 9px;
                max-width: 20px;
            }

            + img {
                opacity: 0;
            }
        }
    }
}

.podcast-notes {
    display: flex;
    flex-direction: column;
    width: 100%;
    scroll-margin: 250px;

    @include breakpoint(tablet) {
        flex-direction: row;
    }

    .col-l {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
        background-color: $white;

        @include breakpoint(tablet) {
            width: 50%;
            padding-top: 60px;
            padding-bottom: 60px;
            padding-left: 5%;
            padding-right: 5%;
        }

        h4 {
            width: 100%;
            text-align: left;
            color: $blue;
            margin-bottom: 30px;
        }
    }

    .col-r {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        padding-top: 60px;
        padding-bottom: 60px;
        padding-left: 60px;
        padding-right: 60px;
        width: 100%;
        background-color: $blue;

        @include breakpoint(tablet) {
            width: 50%;
            padding-top: 10rem;
            padding-bottom: 20rem;
            padding-left: 5%;
            padding-right: 5%;
        }

        h4 {
            color: $white;
            margin-bottom: 30px;

            @include breakpoint(desktop) {
                margin-bottom: 60px;
            }
        }

        p {
            color: $white;
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('images/desktop/useful-links.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            filter:grayscale(1);
            opacity: .1;
        }
    }

    ul {
        display: flex;
        position: relative;
        flex-direction: column;
        width: 100%;
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        width: 100%;

        &:not(:last-of-type) {
            margin-bottom: 30px;
        }

        a {
            font-family: $poppins;
            color: $white;
            font-size: 18px;
            line-height: 18px;
        }
    }

    p {
        color: $copy;
    }
}