body.podcasts-page,
body.single-podcast {
    background-color: $lightblue;
}

.latest-podcast {
    @extend .c-container;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;

    @include breakpoint(tablet) {
        flex-direction: row;
    }

    .image-col {
        position: relative;
        width: 100%;

        @include breakpoint(tablet) {
            width: 50%;
        }
    }

    .episode-details {
        width: 100%;

        @include breakpoint(tablet) {
            width: 50%;
            padding: 60px;
        }
    }

    date {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -60px;
        left: -60px;
        width: 120px;
        height: 120px;
        align-items: center;
        justify-content: center;
        color: $white;
        background-color: $blue;
        border: 15px solid $yellow;
        border-radius: 100%;
        padding: 20px;
        font-size: 20px;
        line-height: 28px;
        z-index: 5;
    }

    img {
        border-radius: 30px;
        width: 100%;
    }
}

.podcast-summary {
    @extend .c-container;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;

    @include breakpoint(tablet) {
        flex-direction: row;
    }

    .image-col {
        position: relative;
        width: 100%;

        @include breakpoint(tablet) {
            width: 50%;
        }
    }

    .episode-details {
        width: 100%;

        @include breakpoint(tablet) {
            width: 50%;
            padding: 60px;
        }

        p {
            color: $copy;
            margin-bottom: 30px;
        }
    }

    img {
        border-radius: 30px;
        width: 100%;
    }
}

.share {
    margin-top: 30px;
   
    .share-title {
        color: $blue;
        margin-bottom: 15px;
    }

    ul {
        display: flex;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        width: 40px;
        height: 40px;
        border: 1px solid $blue;
        border-radius: 100%;

        &:not(:first-of-type) {
            margin-left: 10px;
        }
    }
}

.podcast-notes {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include breakpoint(tablet) {
        flex-direction: row;
    }

    .col-l {
        width: 100%;
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: $white;

        @include breakpoint(tablet) {
            width: 50%;
            padding-left: 5%;
            padding-right: 5%;
        }

        h4 {
            width: 100%;
            text-align: left;
            color: $blue;
            margin-bottom: 30px;
        }
    }

    .col-r {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        background-color: $blue;

        @include breakpoint(tablet) {
            width: 50%;
            padding-top: 10rem;
            padding-bottom: 20rem;
            padding-left: 5%;
            padding-right: 5%;
        }

        h4 {
            color: $white;
            margin-bottom: 60px;
        }

        p {
            color: $white;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        width: 100%;

        &:not(:last-of-type) {
            margin-bottom: 30px;
        }

        a {
            color: $white;
            font-size: 18px;
            line-height: 18px;
        }
    }

    p {
        color: $copy;
    }
}