body.search-results-page {
    background-color: $lightblue;
}

.search-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;

    @include breakpoint(tablet) {
        padding-top: 60px;
    }

    h1 {
        width: 100%;
        text-align: center;
        color: $blue;
        margin-bottom: 0;

        @include breakpoint(tablet) {
            margin-bottom: 60px;
        }
    }

    form {
        display: none;
        position: relative;
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint(tablet) {
            display: flex;
            width: 500px;
        }
    }

    input[type="text"] {
        border: 1px solid $blue;
        padding-left: 20px;
        border-radius: 30px;
    }

    button[type="submit"] {
        position: absolute;
        border: 1px solid $blue;
        border-left: 0;
        border-radius: 30px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 45px;
		height: 44px;
		right: 3px;
		top: 3px;
		background-color: $blue;
		border-radius: 30px;

        img {
            max-width: 20px;
        }
    }
}

@media(max-width: 767px) {

    .result-list {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px;
    }
}

.result-item {
    border-bottom: 1px solid $blue;
    padding-top: 40px;
    padding-bottom: 30px;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;

    @include breakpoint(desktop) {
        padding-top: 120px;
    }

    &:last-of-type {
        border-bottom: 0;
    }
}

.item-inner {
    @extend .c-container;
    display: flex;
    flex-direction: column;

    @include breakpoint(tablet) {
        flex-direction: row;
    }

    &:hover {
    
        .overlay-inner {
            opacity: 1;
            background-color: rgba($yellow,.8);
        }
    }

    .image-col {
        position: relative;
        width: 100%;

        @include breakpoint(tablet) {
            width: 50%;
        }
    }

    .episode-details {
        width: 100%;
        padding-bottom: 0;

        @include breakpoint(tablet) {
            width: 50%;
            padding: 60px;
        }

        ul {
            padding-left: 15px;
            margin-bottom: 20px;
        }

        li {
            color: $copy;
            font-family: $poppins;

            &:not(:last-of-type) {
                margin-bottom: 5px;
            }
        }
    }

    date {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -20px;
        left: -20px;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        color: $white;
        background-color: $blue;
        border: 5px solid $yellow;
        border-radius: 100%;
        padding: 20px;
        font-size: 11px;
        line-height: 12px;
        z-index: 5;

        @include breakpoint(desktop) {
            top: -60px;
            left: -60px;
            width: 120px;
            height: 120px;
            border: 15px solid $yellow;
            font-size: 20px;
            line-height: 28px;
        }
    }

    img {
        border-radius: 30px;
        width: 100%;
    }

    .overlay-content {
        position: relative;
    }

    .overlay-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        border-radius: 30px;
        background-color: rgba($yellow,0);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .3s ease;
        opacity: 0;

        p {
            font-size: 13px;
            line-height: 18px;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 10px;
            color: $blue;

            @include breakpoint(desktop) {
                font-size: 20px;
                line-height: 30px;
                margin-bottom: 20px;
            }
        }

        .listen-blue {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    .parent-pay {
        margin-bottom: 15px;

        @include breakpoint(desktop) {
            margin-bottom: 30px;
        }

        img {
            max-width: 100px;

            @include breakpoint(desktop) {
                max-width: 150px;
            }
        }
    }

    .episode-title {
        margin-bottom: 5px;
        text-align: center;
        font-size: 15px;
        line-height: 25px;
        color: $blue;

        @include breakpoint(desktop) {
            margin-bottom: 20px;
            font-size: 36px;
            line-height: 46px;
        }
    }
}

.cant-find {
    background-color: $white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;

    @include breakpoint(tablet) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    h4 {
        color: $blue;
        margin-bottom: 30px;
    }

    p {
        margin-bottom: 0;
    }
}