.sponsor-callout {
    position: relative;
    z-index: 10;

    .c-container {
        max-width: 100%;
        
        @include breakpoint(tablet) {
            body.home &,
            body.single-podcast &,
            body.about-page & {
                position: absolute;
                top: -10rem;
            }
        }
    }

    .callout-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        align-items: center;
        background-image: url('images/mobile/become-a-sponsor-cta.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        max-width: $sitewidth;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
        overflow: hidden;

        @include breakpoint(tablet) {
            background-image: url('images/desktop/become-a-sponsor-cta.png');
        }

        @include breakpoint(laptop) {
            padding-top: 60px;
            padding-bottom: 60px;
        }

        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($yellow,.9);
            width: 100%;
            height: 100%;
        }
    }

    .callout-title {
        position: relative;
        color: $blue;
        margin-bottom: 30px;
        font-family: $poppins;
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        z-index: 2;
    }

    p {
        position: relative;
        color: $blue;
        text-align: center;
        z-index: 2;
        margin-bottom: 30px;

        a {
            color: $blue;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        a[href^="tel"] {
            text-decoration: none;
            
        }
    }

    .blue-btn2 {
        z-index: 2;
    }

    img.waveform {
        display: block;
        position: absolute;
        bottom: -50%;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 1;
        opacity: .2;
    }
}