.subscribe {
    width: 100%;
    position: relative;
    background-color: $yellow;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 60px;
    padding-bottom: 30px;

    @include breakpoint(tablet) {
        padding-bottom: 60px;
    }

    .c-container {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 10;
        padding-bottom: 0;

        @include breakpoint(tablet) {
            flex-direction: row;
        }
    }

    .form-col {
        width: 100%;
        padding-bottom: 150px;

        @include breakpoint(tablet) {
            width: 40%;
            padding-bottom: 0;
        }

        p {
            color: $blue;
            margin-bottom: 20px;
            font-size: 12px;
            line-height: 16px;
        }
    }

    input {
        margin-bottom: 20px;
        border-radius: 20px;
        height: 60px;
        border-color: $white;
    }

    button[type="submit"] {
        @extend .btn;
        background-color: $blue;
        border-color: $blue;
        color: $white;

        @media(max-width: 767px) {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        &:hover {
            background-color: $white;
            color: $blue;
        }
    }

    .quote-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        @include breakpoint(tablet) {
            width: 60%;
            padding-left: 20%;
            justify-content: flex-end;
        }
    }

    .quote-box {
        background-color: $white;
        border: 3px solid $blue;
        border-radius: 20px;
        padding: 15px;
        width: 300px;

        @include breakpoint(tablet) {
            width: 350px;
        }

        @include breakpoint(desktop) {
            padding: 30px;
        }
    }

    blockquote {
        color: $blue;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 15px;
        font-family: $poppins;
        font-weight: 600;

        @include breakpoint(desktop) {
            font-size: 18px;
            line-height: 26px;
        }
    }

    cite {
        color: $blue;
        font-style: normal;
        font-family: $poppins;
        font-weight: 500;
    }

    h5 {
        color: $blue;
        margin-bottom: 30px;

        @media(max-width: 767px) {
            text-align: center;
            font-size: 20px;
            line-height: 26px;
        }
    }

    .bg1 {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        opacity: .1;
        z-index: 2;

        @include breakpoint(desktop) {
            width: 75%;
        }
    }

    .bg2 {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 200px;
        z-index: 3;

        @include breakpoint(desktop) {
            width: 85%;
        }
    }

    .bg3 {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        z-index: 1;
        opacity: .1;
    }
}