.subscribe {
    width: 100%;
    position: relative;
    background-color: $yellow;
    padding-top: 30px;
    padding-bottom: 30px;

    @include breakpoint(tablet) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .c-container {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 10;

        @include breakpoint(tablet) {
            flex-direction: row;
        }
    }

    .form-col {
        width: 100%;

        @include breakpoint(tablet) {
            width: 40%;
        }

        p {
            color: $blue;
        }
    }

    input {
        margin-bottom: 20px;
        border-radius: 20px;
        height: 60px;
        border-color: $white;
    }

    button[type="submit"] {
        @extend .btn;
        background-color: $blue;
        border-color: $blue;
        color: $white;

        &:hover {
            background-color: $white;
            color: $blue;
        }
    }

    .quote-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        @include breakpoint(tablet) {
            width: 60%;
            padding-left: 20%;
            justify-content: flex-end;
        }
    }

    .quote-box {
        background-color: $white;
        border: 3px solid $blue;
        border-radius: 20px;
        padding: 30px;
        width: 300px;

        @include breakpoint(tablet) {
            width: 350px;
        }
    }

    blockquote {
        color: $blue;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 15px;
    }

    cite {
        color: $blue;
        font-style: normal;
    }

    h5 {
        color: $blue;
        margin-bottom: 30px;
    }

    .bg1 {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 75%;
        opacity: .1;
        z-index: 2;
    }

    .bg2 {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 85%;
        z-index: 3;
    }

    .bg3 {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        z-index: 1;
        opacity: .1;
    }
}