.text-image {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;

    @include breakpoint(tablet) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    body.training-cpd-page &,
    body.single-session & {
        background-color: $white;
    }

    .c-container {
        display: flex;
        flex-direction: column;

        @include breakpoint(tablet) {
            flex-direction: row;
        }
    }

    &.is-reversed {

        .c-container {

            @include breakpoint(tablet) {
                flex-direction: row-reverse;
            }
        }
    }

    .image-col {
        width: 100%;

        @include breakpoint(tablet) {
            width: 50%;
        }
    }

    img {
        border-radius: 30px;
    }

    .text-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        @include breakpoint(tablet) {
            width: 50%;
            padding-left: 5%;
            padding-right: 5%;
        }
    }

    h5 {
        color: $blue;
        margin-bottom: 30px;
    }

    p {
        color: $copy;
        margin-bottom: 30px;

        &:not(:last-of-type) {
            color: $blue;
            font-size: 18px;
            line-height: 26px;

            body.training-cpd-page &,
            body.single-session & {
                color: $copy;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}