.textblock {
    @extend .c-container;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    @include breakpoint(tablet) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    h1 {
        color: $blue;
        margin-bottom: 30px;
    }

    p {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint(tablet) {
            max-width: 700px;
        }

        a {
            color: $copy;
        }
    }

    .btn-container {
        justify-content: center;
        margin-top: 60px;
    }
}