.text-image {
    width: 100%;
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 40px;

    @include breakpoint(tablet) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    body.training-cpd-page &,
    body.single-session &,
    body.single-event &,
    body.about-page & {
        background-color: $white;
    }

    body.about-page & {
        padding-bottom: 60px;

        @include breakpoint(laptop) {
            padding-bottom: 15rem;
        }
    }

    .c-container {
        display: flex;
        flex-direction: column;

        @include breakpoint(tablet) {
            flex-direction: row;
        }
    }

    &.is-reversed {

        .c-container {

            @include breakpoint(tablet) {
                flex-direction: row-reverse;
            }
        }

        .text-col {
            padding-left: 0;
            padding-right: 60px;
        }
    }

    .image-col {
        position: relative;
        width: 100%;
        padding-bottom: 30px;

        body.single-session &,
        body.single-event &, {

            @media(max-width: 767px) {
                order: 2;
                padding-bottom: 0;
                padding-top: 30px;
            }
        }

        @include breakpoint(tablet) {
            width: 50%;
            padding-bottom: 0;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('images/waveform-pattern.png');
            background-repeat: no-repeat;
            background-size: 200%;
            background-position: bottom -50px left 0;
            opacity: .3;

            body.home &,
            body.our-partners-page &,
            body.training-cpd-page & {
                display: none;
            }
        }
    }

    img {
        border-radius: 30px;
        width: 100%;
    }

    .text-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;

        @include breakpoint(tablet) {
            width: 50%;
            padding-left: 5%;
            padding-right: 5%;
        }

        @include breakpoint(desktop) {
            padding-left: 60px;
            padding-right: 30px;
        }
    }

    h5 {
        color: $blue;
        margin-bottom: 30px;

        @media(max-width: 767px) {
            font-size: 22px;
            line-height: 32px;
        }
    }

    p {
        color: $copy;
        margin-bottom: 30px;

        &:first-of-type {
            color: $blue;
            font-size: 18px;
            line-height: 26px;

            @include breakpoint(tablet) {
                font-size: 16px;
                line-height: 24px;
            }

            @include breakpoint(desktop) {
                font-size: 18px;
                line-height: 26px;
            }

            body.training-cpd-page &,
            body.single-session & {
                color: $copy;
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}