.textblock {
    @extend .c-container;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;

    @include breakpoint(desktop) {
        padding-bottom: 60px;
    }

    h1 {
        color: $blue;
        margin-bottom: 30px;

        &:only-child {
            margin-bottom: 0;
        }
    }

    p {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint(tablet) {
            max-width: 700px;
        }

        a {
            color: $copy;
        }
    }

    &:has(.btn-container) {
        padding-bottom: 60px;
    }

    .btn-container {
        justify-content: center;
        align-items: center;
        margin-top: 30px;

        @include breakpoint(desktop) {
            margin-bottom: 60px;
        }
    }

    &:has(.btn-container) {
        p {
            margin-bottom: 0;
        }
    }
}