.why-icons {
    background-color: $lightblue;
    padding-top: 30px;
    padding-bottom: 0;

    @include breakpoint(tablet) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    h3 {
        width: 100%;
        text-align: center;
        color: $blue;
        margin-bottom: 30px;

        @include breakpoint(tablet) {
            margin-bottom: 60px;
        }
    }

    ul {
        @extend .c-container;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-flow: row wrap;

        @include breakpoint(laptop) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 0;
        margin-bottom: 30px;

        @include breakpoint(tablet) {
            width: 22%;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 0;
            margin-right: 4%;

            &:nth-of-type(2n) {
                margin-right: 4%;
            }

            &:nth-of-type(4n) {
                margin-right: 0;
            }
        }

        img {
            max-width: 100px;
            margin-bottom: 20px;

            @include breakpoint(tablet) {
                max-width: 70px;
            }

            @include breakpoint(desktop) {
                max-width: 100px;
            }
        }

        p {
            color: $copy;
            margin-bottom: 0;
            font-size: 12px;
            line-height: 18px;
    
            @include breakpoint(desktop) {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    .icon-title {
        color: $blue;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 10px;
        color: $blue;

        @include breakpoint(desktop) {
            font-size: 20px;
            line-height: 30px;
        }
    }
}