.breadcrumb {
    padding-top: 30px;
    padding-bottom: 0;

    ul {
        @extend .c-container;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    li {
        list-style: none;
        color: $copy;
        font-size: 13px;
        line-height: 13px;

        &:not(:first-of-type) {

            &:before {
                content: "/";
                display: inline-block;
                position: relative;
                font-size: 13px;
                line-height: 13px;
                margin: 0 5px;
            }
        }

        a {
            color: $copy;
        }
    }
}