.breadcrumb {
    padding-top: 30px;
    padding-bottom: 0;

    body.search-results-page & {
        padding-top: 10px;
    }

    ul {
        @extend .c-container;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    li {
        list-style: none;
        color: $copy;
        font-family: $poppins;
        font-size: 11px;
        line-height: 11px;

        @include breakpoint(desktop) {
            font-size: 13px;
            line-height: 13px;
        }

        &:not(:first-of-type) {

            &:before {
                content: "/";
                display: inline-block;
                position: relative;
                margin: 0 5px;
                font-size: 11px;
                line-height: 11px;

                @include breakpoint(desktop) {
                    font-size: 13px;
                    line-height: 13px;
                }
            }
        }

        a {
            color: $copy;
        }
    }
}