input[type="text"],
input[type="email"],
input[type="search"],
input[type="tel"] {
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: 1px solid $midgrey;
    font-family: $poppins;
    padding-left: 10px;

    &:focus {
        outline: 1px dashed $black;
        border-color: $black;
    }
}

select {
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: 1px solid $midgrey;
    font-family: $poppins;
    padding-left: 10px; 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('images/select-arrow.png');
    background-size: 8px;
    background-position: top 50% right 15px;
    background-repeat: no-repeat;

    &:focus,
    &:active {
        outline: 1px dashed $black;
        border-color: $black;
    }
}

textarea {
    width: 100%;
    height: 150px;
    font-family: $globalfont;
    font-family: $poppins;
    border-radius: 0;
    color: $copy;
    border: 1px solid $midgrey;
    padding: 10px;
    resize: none;

    &:focus {
        outline: 1px dashed $black;
        border-color: $black;
    }

    &::placeholder {
        color: $copy;
    }
}

label {
    display: block;
    font-family: $poppins;
    margin-bottom: 5px;
}

.enquiry {
    background-color: $blue;
    padding-top:  30px;
    padding-bottom: 30px;
    scroll-margin: 150px;

    @include breakpoint(tablet) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    h3 {
        color: $white;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;

        @include breakpoint(tablet) {
            margin-bottom: 60px;
        }
    }

    form {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint(tablet) {
            width: 700px;
        }
    }

    fieldset {
        padding: 30px;
        border: 0;
    }

    legend {
        width: 100%;
        text-align: center;
        color: $white;
        font-size: 18px;
        line-height: 18px;
    }

    .form-row {
        display: flex;
        flex-wrap: wrap;
        color: $white;
        margin-bottom: 20px;

        &.centered {
            justify-content: center;
        }

        a {
            color: $white;
        }

        p {
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 0;
            margin-top: 20px;

            a {
                color: $yellow;
            }
        }

        input[type="radio"] {
            top: 2px;
            position: relative;
            left: 0;
            margin-left: 0;
        }

        input {
            border: 1px solid $white;
            border-radius: 50px;
            color: $blue;
            padding-left: 20px;

            &::placeholder {
                color: $blue;
            }
        }

        textarea {
            border: 1px solid $white;
            border-radius: 20px;
            color: $blue;
            padding: 20px;

            &::placeholder {
                color: $blue;
            }
        }

        button[type="submit"] {
            @extend .btn;
            background-color: $yellow;
            border-color: $yellow;
            color: $blue;

            &:hover {
                background-color: $blue;
                color: $white;
            }
        }
    }

    .field-50 {
        width: 100%;

        @include breakpoint(tablet) {
            width: 49%;
            margin-right: 2%;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }

    .field-100 {
        width: 100%;
    }
}